[Desktop Entry]
Name=Frescobaldi
GenericName=Frescobaldi
Comment=LilyPond Music Editor
Comment[nl]=Muziek-editor voor LilyPond
Comment[es]=Editor de música para LilyPond
Comment[it]=Editor musicale per LilyPond
Comment[ru]=Музыкальный нотатор LilyPond
Comment[cs]=LilyPond hudební editor
Comment[tr]=LilyPond Müzik Düzenleyicisi
Comment[pl]=Edytor nutowy LilyPond
Comment[fr]=Éditeur de musique LilyPond
Comment[de]=LilyPond Musik-Editor
Comment[pt_BR]=Editor de música LilyPond
Comment[gl]=Editor de música para LilyPond
MimeType=text/x-lilypond;
Exec=frescobaldi %F
X-KDE-StartupNotify=true
Icon=frescobaldi
Type=Application
Terminal=false
InitialPreference=8
Categories=Qt;AudioVideo;Music;Utility;TextEditor;
