include README* COPYING THANKS INSTALL TODO NEWS
include frescobaldi.1
include frescobaldi.png
include *.py
recursive-include frescobaldi_app README*
recursive-include frescobaldi_app *.png *.svg *.ico index.theme
recursive-include frescobaldi_app *.ly *.ily Makefile
recursive-include frescobaldi_app *.mo
recursive-include frescobaldi_app *.dic
recursive-include frescobaldi_app *.js
recursive-include frescobaldi_app *.md
recursive-include linux org.frescobaldi.Frescobaldi* Makefile
recursive-include macosx *.svg *.icns *.py *.strings *.sh *.png *.json *.diff
recursive-include windows *.bmp *.py
recursive-include i18n *.pot *.po Makefile
global-exclude *~
